[Unit]
Description=isucon.go
After=cloud-config.service
Wants=cloud-config.service

[Service]
WorkingDirectory=/home/ubuntu/isucon/webapp/go/
Environment=SERVER_APP_PORT=5000

User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/isucon/webapp/go/isucon

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
